@model ITEA_Management.Models.Office

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfficeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
