<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection"
              providerName="System.Data.SqlClient"
              connectionString="Data Source=SOME1;
              Initial Catalog=mPolishchuk_CSharpAdvanced;
              Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>